In [1]:
import pandas

file = "Table1/table-1-1.xlsx"

df = pandas.read_excel(file)

print(df)

   Table with row headers in column A and column headers in rows 5 through 6  \
0   Table 1. Educational Attainment of the Populat...
1   (Numbers in thousands. Civilian noninstitution...
2                                           All Races
3                                      Characteristic
4                                                 NaN
5                                          Both Sexes
6                                \t 18 years and over
7                                \t\t  18 to 24 years
8                                \t 25 years and over
9                                \t\t  25 to 29 years
10                               \t\t  30 to 34 years
11                               \t\t  35 to 39 years
12                               \t\t  40 to 44 years
13                               \t\t  45 to 49 years
14                               \t\t  50 to 54 years
15                               \t\t  55 to 59 years
16                               \t\t  60 to 64 years
17                               \t\t  65 to 69 years
18                               \t\t  70 to 74 years
19                               \t 75 years and over
20                                               Male
21                               \t 18 years and over
22                               \t\t  18 to 24 years
23                               \t 25 years and over
24                               \t\t  25 to 29 years
25                               \t\t  30 to 34 years
26                               \t\t  35 to 39 years
27                               \t\t  40 to 44 years
28                               \t\t  45 to 49 years
29                               \t\t  50 to 54 years
30                               \t\t  55 to 59 years
31                               \t\t  60 to 64 years
32                               \t\t  65 to 69 years
33                               \t\t  70 to 74 years
34                               \t 75 years and over
35                                             Female
36                               \t 18 years and over
37                               \t\t  18 to 24 years
38                               \t 25 years and over
39                               \t\t  25 to 29 years
40                               \t\t  30 to 34 years
41                               \t\t  35 to 39 years
42                               \t\t  40 to 44 years
43                               \t\t  45 to 49 years
44                               \t\t  50 to 54 years
45                               \t\t  55 to 59 years
46                               \t\t  60 to 64 years
47                               \t\t  65 to 69 years
48                               \t\t  70 to 74 years
49                               \t 75 years and over
50  1 Plus armed forces living off post or with th...
51  2 Respondents who have completed 12th grade bu...
52                 3 Includes people who earned GEDs.
53     Details may not sum to totals due to rounding.
54  Source: U.S. Census Bureau, Current Population...
55  Information on confidentiality protection, sam...

                Unnamed: 1 Unnamed: 2       Unnamed: 3       Unnamed: 4  \
0                      NaN        NaN              NaN              NaN
1                      NaN        NaN              NaN              NaN
2                      NaN        NaN              NaN              NaN
3   Educational attainment        NaN              NaN              NaN
4                    Total       None  1st - 4th grade  5th - 6th grade
5                      NaN        NaN              NaN              NaN
6                   255255        770             1518             2812
7                    28981         43               42               80
8                   226274        727             1476             2732
9                    21747         14               36               82
10                   22836         25               58              142
11                   21992         73               85              164
12                   21198         47              124              314
13                   19430         48              107              305
14                   20700         54              133              297
15                   21004        111              168              248
16                   21174         74              150              277
17                   18533         73              134              253
18                   15171         47              173              212
19                   22489        161              308              438
20                     NaN        NaN              NaN              NaN
21                  124546        389              807             1422
22                   14567         21               24               58
23                  109979        368              782             1364
24                   10940          9               27               48
25                   11386         10               32               91
26                   10987         39               42               85
27                   10593         35               69              176
28                    9623         33               60              141
29                   10261         28               80              169
30                   10339         58              104              142
31                   10203         30               90              127
32                    8818         32               58              122
33                    7012         27              103               78
34                    9817         69              117              184
35                     NaN        NaN              NaN              NaN
36                  130709        380              711             1390
37                   14413         22               17               22
38                  116296        358              694             1368
39                   10807          5                9               34
40                   11450         15               26               51
41                   11005         34               43               79
42                   10605         12               55              138
43                    9807         14               48              164
44                   10440         26               54              129
45                   10665         53               64              106
46                   10971         45               60              150
47                    9715         41               76              131
48                    8159         20               69              133
49                   12672         92              191              254
50                     NaN        NaN              NaN              NaN
51                     NaN        NaN              NaN              NaN
52                     NaN        NaN              NaN              NaN
53                     NaN        NaN              NaN              NaN
54                     NaN        NaN              NaN              NaN
55                     NaN        NaN              NaN              NaN

         Unnamed: 5 Unnamed: 6  Unnamed: 7   Unnamed: 8  \
0               NaN        NaN         NaN          NaN
1               NaN        NaN         NaN          NaN
2               NaN        NaN         NaN          NaN
3               NaN        NaN         NaN          NaN
4   7th - 8th grade  9th grade  10th grade  11th grade2
5               NaN        NaN         NaN          NaN
6              3201       2926        3340         9826
7               200        203         459         3432
8              3001       2723        2880         6394
9               188        149         166          546
10              187        217         247          613
11              244        240         274          640
12              282        321         280          548
13              280        273         243          476
14              299        297         227          603
15              258        243         299          609
16              260        223         318          689
17              271        225         236          547
18              194        193         181          364
19              537        341         409          760
20              NaN        NaN         NaN          NaN
21             1649       1572        1782         5098
22              122        132         247         1771
23             1526       1441        1535         3327
24              100         94          91          295
25               98        130         131          300
26              129        132         142          361
27              166        166         147          298
28              151        130         136          274
29              140        162         140          347
30              150        127         192          322
31              118        128         184          358
32              152        127         118          279
33               77         91          81          178
34              246        153         172          315
35              NaN        NaN         NaN          NaN
36             1552       1354        1558         4728
37               77         71         212         1661
38             1475       1282        1346         3067
39               87         55          75          251
40               89         86         116          312
41              115        108         132          279
42              117        155         133          250
43              130        144         107          202
44              159        135          87          255
45              107        116         107          288
46              143         95         134          331
47              119         98         118          268
48              117        102         100          186
49              292        188         237          444
50              NaN        NaN         NaN          NaN
51              NaN        NaN         NaN          NaN
52              NaN        NaN         NaN          NaN
53              NaN        NaN         NaN          NaN
54              NaN        NaN         NaN          NaN
55              NaN        NaN         NaN          NaN

               Unnamed: 9              Unnamed: 10  \
0                     NaN                      NaN
1                     NaN                      NaN
2                     NaN                      NaN
3                     NaN                      NaN
4   High school graduate3  Some college, no degree
5                     NaN                      NaN
6                   74530                    42099
7                   10065                     9113
8                   64465                    32986
9                    6337                     3551
10                   5767                     3409
11                   5426                     3076
12                   5283                     2784
13                   4927                     2679
14                   5895                     2618
15                   6462                     2947
16                   6791                     3183
17                   5587                     2907
18                   4242                     2660
19                   7748                     3170
20                    NaN                      NaN
21                  38672                    20452
22                   5591                     4367
23                  33081                    16085
24                   3617                     1902
25                   3223                     1804
26                   3128                     1582
27                   3038                     1470
28                   2769                     1377
29                   3252                     1258
30                   3389                     1365
31                   3424                     1425
32                   2616                     1382
33                   1784                     1206
34                   2841                     1316
35                    NaN                      NaN
36                  35858                    21647
37                   4474                     4746
38                  31383                    16900
39                   2720                     1649
40                   2544                     1605
41                   2298                     1494
42                   2245                     1315
43                   2158                     1303
44                   2643                     1361
45                   3073                     1582
46                   3368                     1758
47                   2971                     1525
48                   2458                     1454
49                   4907                     1855
50                    NaN                      NaN
51                    NaN                      NaN
52                    NaN                      NaN
53                    NaN                      NaN
54                    NaN                      NaN
55                    NaN                      NaN

                         Unnamed: 11                   Unnamed: 12  \
0                                NaN                           NaN
1                                NaN                           NaN
2                                NaN                           NaN
3                                NaN                           NaN
4   Associate's degree, occupational  Associate's degree, academic
5                                NaN                           NaN
6                              10662                         14726
7                                634                          1080
8                              10028                         13645
9                                815                          1252
10                               922                          1544
11                               911                          1369
12                               916                          1219
13                               966                          1115
14                               995                          1196
15                              1079                          1471
16                              1026                          1318
17                               905                          1232
18                               676                           929
19                               818                          1000
20                               NaN                           NaN
21                              5207                          6141
22                               317                           415
23                              4890                          5726
24                               356                           557
25                               446                           689
26                               470                           592
27                               454                           486
28                               496                           441
29                               508                           487
30                               500                           647
31                               519                           505
32                               419                           534
33                               344                           411
34                               378                           377
35                               NaN                           NaN
36                              5455                          8584
37                               317                           665
38                              5138                          7919
39                               459                           695
40                               476                           856
41                               440                           777
42                               462                           732
43                               470                           674
44                               488                           709
45                               580                           824
46                               507                           813
47                               485                           698
48                               332                           518
49                               440                           623
50                               NaN                           NaN
51                               NaN                           NaN
52                               NaN                           NaN
53                               NaN                           NaN
54                               NaN                           NaN
55                               NaN                           NaN

          Unnamed: 13      Unnamed: 14          Unnamed: 15      Unnamed: 16
0                 NaN              NaN                  NaN              NaN
1                 NaN              NaN                  NaN              NaN
2                 NaN              NaN                  NaN              NaN
3                 NaN              NaN                  NaN              NaN
4   Bachelor's degree  Master's degree  Professional degree  Doctoral degree
5                 NaN              NaN                  NaN              NaN
6               56350            24160                 3478             4859
7                3305              279                   34               11
8               53045            23881                 3444             4848
9                6390             1804                  200              217
10               6344             2567                  292              504
11               5786             2762                  400              543
12               5395             2734                  424              524
13               4713             2539                  331              427
14               4979             2377                  264              467
15               4575             1840                  257              436
16               4324             1840                  326              374
17               3702             1767                  269              424
18               3010             1672                  258              361
19               3825             1979                  424              570
20                NaN              NaN                  NaN              NaN
21              26568            10264                 1873             2649
22               1377              107                   13                5
23              25192            10156                 1860             2644
24               2991              683                   87               81
25               3047             1014                  142              228
26               2770             1101                  177              238
27               2511             1139                  186              251
28               2221             1021                  164              209
29               2396              884                  145              266
30               2140              800                  138              265
31               2015              877                  188              216
32               1711              825                  177              266
33               1464              774                  170              223
34               1926             1038                  286              401
35                NaN              NaN                  NaN              NaN